/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.flex-div{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px
}



.label-principal{
  color: #005B56;
    font-weight: bold;
}


.color-principal{
  color: #005B56;
}

